.encabezado{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.name{
    
}

.btnx{
    
    background-color: red;
    border-radius: 20px;
    

}

.contenedor {
    width: 250px;
    height: 250px;
    background-color: purple;
    color : white;
    border-radius: 10px;
    box-shadow: 5px 5px dimgrey;
    padding: 20px;
    margin-left:15px;
    
}   


.temp{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}
